/* styles/page.module.css */
@font-face {
  font-family: 'Reddit Mono';
  src: url('/public/fonts/RedditMono-Regular.ttf')format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Schibsted Grotesk';
  src: url(/public/fonts/SchibstedGrotesk-Regular.ttf)format('opentype');
  font-weight: 400;
}